<div class="post-new">
  <div class="content-block">
    <h2>Sign up</h2>
    <div class="division">
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="enter-text">  
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn-border" %>
      </div>
    <% end %>
    <div class="division">
    </div>
    <div class="helpful">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</div>